@keyframes sk-chase {
  100% {
    transform: rotate(360deg); } }

@keyframes sk-chase-dot {
  80%, 100% {
    transform: rotate(360deg); } }

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4); }
  100%, 0% {
    transform: scale(1); } }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 43.75%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 87.5%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.u-text-shadow {
  text-shadow: 0 1px 2px black; }

.u-text-center {
  text-align: center; }

.u-margin-top {
  margin-top: 3rem !important; }

.u-margin-bottom {
  margin-bottom: 3rem !important; }

.form-container {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 60rem;
  height: 80rem; }

.form {
  color: #F2F2F2;
  background-color: #8bc064;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  padding: 2rem;
  border-radius: 2rem; }
  .form__select {
    display: flex;
    justify-content: space-evenly; }
  .form__input-box {
    display: none; }
    .form__input-box--active {
      display: block; }
  .form__error-span {
    height: 2rem;
    font-size: inherit;
    margin-top: 0.5rem;
    text-align: center;
    display: block;
    color: red; }
  .form__span {
    cursor: pointer;
    padding: 3rem;
    transition: all 0.2s ease-in;
    border-radius: 2rem; }
  .form__span-active {
    background-color: #a6cf88;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white; }
  .form__btn {
    display: flex;
    justify-content: center; }
  .form__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: #bababb;
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 10rem;
    width: 70%;
    transition: all 0.2s;
    margin-right: -3.25rem; }
    .form__input:focus {
      color: #bababb;
      outline: none;
      width: 80%;
      background-color: #ededee; }
    .form__input::-webkit-input-placeholder {
      font-weight: 100;
      color: rgba(216, 209, 209, 0.7); }
  .form__input-group {
    display: flex;
    justify-content: center;
    align-items: center; }
  .form__input-label {
    padding-right: 1rem; }
    .form__input-label i {
      font-size: 3rem; }
  .form__radio-fieldset {
    border: 0; }
  .form__radio-legend {
    font-weight: 700;
    margin-bottom: 1rem; }
  .form__radio-group {
    display: inline-block; }
  .form__radio-input {
    display: none; }
  .form__radio-label {
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
    font-size: 2rem; }
  .form__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid #7b7b7d;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -0.4rem; }
    .form__radio-button::after {
      content: "";
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-48%, -50%);
      background-color: #7b7b7d;
      opacity: 0;
      transition: opacity 0.3s ease-in; }
  .form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
    opacity: 1; }

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -90rem; }

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 4rem; }

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 0.4rem;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: "\2713\0020";
  position: absolute;
  top: 0.4rem;
  left: 0.3rem;
  font-size: 2.4rem;
  line-height: 0.8;
  color: #6db432;
  transition: all 0.2s;
  font-family: "Ubuntu", sans-serif; }

[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0); }

[type="checkbox"]:checked + label:after {
  border-color: #6db432;
  opacity: 1;
  transform: scale(1); }

[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px solid #6db432; }

label:hover:before {
  border: 2px solid #7b7b7d !important; }

.btn {
  color: white; }
  .btn, .btn:link, .btn:visited {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    position: relative;
    background-color: #7b7b7d;
    text-decoration: none;
    padding: 1rem 1rem;
    border-radius: 2rem;
    transition: all 0.5s ease-in;
    box-shadow: 0 1px 4px rgba(53, 53, 55, 0.7);
    width: 20rem;
    height: 6rem;
    border: none;
    cursor: pointer; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 1rem rgba(53, 53, 55, 0.3);
    background-color: #626263; }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(2px); }

.spinner {
  display: none !important;
  background-color: #8ac0649a;
  position: fixed;
  z-index: 400;
  height: 100%;
  width: 100%; }
  .spinner__active {
    display: flex !important;
    align-items: center;
    justify-content: center; }
  .spinner__box {
    width: 6rem;
    height: 6rem;
    position: relative;
    animation: sk-chase 2.5s infinite linear both; }
  .spinner__dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: sk-chase-dot 2.0s infinite ease-in-out both; }
    .spinner__dot:before {
      content: '';
      display: block;
      width: 25%;
      height: 25%;
      background-color: #353537;
      border-radius: 100%;
      animation: sk-chase-dot-before 2.0s infinite ease-in-out both; }

.spinner__dot:nth-child(1) {
  animation-delay: -1.1s; }

.spinner__dot:nth-child(2) {
  animation-delay: -1.0s; }

.spinner__dot:nth-child(3) {
  animation-delay: -0.9s; }

.spinner__dot:nth-child(4) {
  animation-delay: -0.8s; }

.spinner__dot:nth-child(5) {
  animation-delay: -0.7s; }

.spinner__dot:nth-child(6) {
  animation-delay: -0.6s; }

.spinner__dot:nth-child(1):before {
  animation-delay: -1.1s; }

.spinner__dot:nth-child(2):before {
  animation-delay: -1.0s; }

.spinner__dot:nth-child(3):before {
  animation-delay: -0.9s; }

.spinner__dot:nth-child(4):before {
  animation-delay: -0.8s; }

.spinner__dot:nth-child(5):before {
  animation-delay: -0.7s; }

.spinner__dot:nth-child(6):before {
  animation-delay: -0.6s; }

.modal {
  color: #F2F2F2;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  z-index: -150;
  width: 100vw;
  height: 100vh;
  transition: all .5s ease-in; }
  .modal__header {
    font-size: 4rem; }
  .modal__box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #8bc064;
    width: 35%;
    transform: scale(0);
    padding: 1.8rem 1rem;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.6);
    border-radius: 3rem;
    border: 0.5rem solid rgba(53, 53, 55, 0.6);
    transition: all .5s ease-in; }
    @media only screen and (max-width: 37.5em) {
      .modal__box {
        width: 50%;
        padding: 1rem; } }
    .modal__box p {
      font-size: 3rem;
      display: inline-block;
      padding: 0.5rem; }
      @media only screen and (max-width: 56.25em) {
        .modal__box p {
          padding: 1rem; } }
    .modal__box span {
      font-size: 2rem;
      padding-bottom: 1rem;
      color: #7b7b7d; }
  .modal--show {
    z-index: 2500;
    background-color: rgba(53, 53, 55, 0.5); }
    .modal--show .modal__box {
      transform: scale(1); }
